:root {
  --main-color: #5e5df0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(251, 249, 245);
  background: linear-gradient(
    180deg,
    rgba(251, 249, 245, 1) 0%,
    rgba(231, 232, 155, 1) 66%,
    rgba(222, 169, 235, 1) 100%
  );
}
.wrapper {
  max-width: 1080px;
  margin: 10px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  background: #fff;
  border-radius: 15px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--main-color);
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em;
}
.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}
.row section p {
  margin: 10px 0 17px 0;
}
.row section .bottom a {
  text-decoration: none;
  background: var(--main-color);
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover {
  transform: scale(0.97);
}
@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 10px 0;
  }
}
img {
  max-width: 40%;
}
header {
  background-color: #fbf9f5;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.BA {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  animation: slideInFromLeft 0.5s ease forwards;
}
#logo {
  width: 10vh;
  margin: 0 1em 0 1em;
}
.tabs {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  animation: slideIn 0.5s ease forwards;
}
#aboutus {
  text-decoration: none;
  color: black;
}
#profile {
  width: 5vh;
  border-radius: 20em;
}
.body-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#list {
  width: 30%;
  margin: 2em;
  animation: slideIn 0.5s ease forwards;
}
#modeToggle {
  /* position: fixed; */
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#modeToggle {
  animation: slideIn 0.5s ease forwards;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 13em;
  align-items: center;
}
li {
  list-style-type: none;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-weight: 400;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15em;
  align-items: center;
}
button {
  background: var(--main-color);
  border-radius: 999px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-weight: 500;
  line-height: 17px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
button a {
  text-decoration: none;
  color: white;
}
#CookBook_logo {
  border-radius: 10em;
  width: 20%;
}
.CookBook {
  display: flex;
  flex-direction: row;
  background-color: rgb(17, 17, 17);
  width: 15%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
#CompanyName {
  text-decoration: none;
  color: black;
}
.timeline {
  font-family: "Poppins", sans-serif;
}
#team,
#newspage,
#signin {
  color: white;
  text-decoration: none;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
}
.developer_formatting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.developer_information {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.meet_dev {
  display: flex;
  justify-content: center;
  padding: 1.2em;
  color: black;
  text-align: center;
  font-size: 2.5em;
}
footer {
  margin-top: 5vh;
  padding: 1em;
  background-color: rgb(218, 184, 217);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.35em;
}
#group_title {
  font-size: 1.5em;
}
.teamtitle {
  padding-top: 0.1em;
  font-size: 1em;
}
footer img {
  max-width: 5%;
  padding: 0.5em;
}
#clickable {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
