h1 {
  color: red;
}

body {
  background: linear-gradient(
    90deg,
    hsla(16, 100%, 76%, 1) 0%,
    hsla(49, 100%, 81%, 1) 100%
  );
}

.minus-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
}