.triangle-pointer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #bee8f9; /* Flip the triangle */
  position: absolute;
  top: -10px; /* Adjust this value to position the triangle correctly */
  left: 230px; /* Adjust this value to position the triangle correctly */
  z-index: 10; /* Ensure the triangle is above the canvas */
}
.wheel-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
}

canvas {
  display: block;
  margin: auto;
}

#spinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #bee8f9;
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}
#spinButton:disabled {
  background-color: #afc6ff;
}

.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}
.alert-overlay.show {
  display: flex;
}
.alert-box {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.alert-box h1 {
  margin: 0 0 10px;
}
.alert-box button {
  background-color: #68aede;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
