.arrow {
  position: absolute;
  width: 4em;
  top: 0%;
  right: 44%;
  -webkit-transform: rotate(-90deg);
  z-index: 10;
}

.wheel-container {
  padding-top: 30px;
  position: relative;
  width: 550px;
  height: 550px;
  margin: auto;
}

canvas {
  display: block;
  margin: auto;
}

#spinButton {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: radial-gradient(circle, #bee8f9 0%, #68aede 100%);
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

#spinButton:hover {
  background: radial-gradient(circle, #68aede 0%, #bee8f9 100%);
}

#spinButton:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(0.98);
}

#spinButton:disabled {
  background-color: #afc6ff;
}

/* A scroll bar shows while the wheel is rotating,
    so this just makes the scrollbar disappear     */
::-webkit-scrollbar {
  width: 0px;
}